@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* ********** General Styling ********** */

* {
    font-family: 'Lato', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}
  
  .flex-container {
    display: flex;
}

/* ********** Header Styling ********** */

header {
    height: 35px;
    background-color: #fff;
    padding: 20px 35px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -2px rgb(181, 181, 181);
  }

  .header-btns {
    font-weight: 700;
    padding: 10px 25px;
    color: #fff;
    border-radius: 20px;
    background-color: rgb(194, 31, 31);
    border: none;
  }
